[Unit]
Description=Snapshot defined in the external conf file

[Service]
Type=oneshot
ExecStart=%h/.local/bin/snapshot %h/.config/snapshot.d/%i.conf

[Install]
WantedBy=default.target
