[Unit]
Description=Ensure ssh tunnel
Requires=gpg-agent-ssh.socket
After=gpg-agent-ssh.socket

[Service]
ExecStart=/usr/bin/ssh -NT %i
RestartSec=3
Restart=always

[Install]
WantedBy=default.target
