[Unit]
Description=Backup system settings

[Service]
Type=oneshot
    "$HOME/.config/environment.d"
ExecStart=%h/.local/bin/runenv %h/.config/system-backup.conf

[Install]
WantedBy=default.target
