#!/bin/sh
# -*- SH -*-

## Aliases from ~/.bashrc in Ubuntu 20.04
# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# colored GCC warnings and errors
#export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# Use aliases when using sudo
alias sudo='sudo '

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias isomount='fuseiso'
alias umount='fusermount -u'

alias docker='podman'

alias g='git'

# Change directory by search
peco_cd() {
    cd "$(find "${1:-.}" -type d -maxdepth 5 2>/dev/null | peco)"
}
alias pcd='peco_cd'

peco_history() {
    history -n -r 1 | peco --query "$1"
}
alias ph='$(peco_history)'

# Kill processes by search
peco_kill() {
    [ "$(whoami)" = "root" ] && OPTA="a" || OPTA=""
    for pid in $(ps "${OPTA}"fxo user,pid,%cpu,%mem,command | peco | awk '{print $2}'); do
        kill "${pid}"
        echo "Killed ${pid}"
    done
}
alias pk='peco_kill'

# GnuPG aliases
alias encrypt='gpg -es'
alias decrypt='gpg -d'
alias enc='encrypt'
alias dec='decrypt'
# Delete key files not in keybox.
alias gpg-clean='(\
    cd $(gpgconf --list-dir homedir)/private-keys-v1.d; \
    comm \
        <(gpg --list-secret-keys --with-keygrip | grep Keygrip | awk "{ print \$3 \".key\" }" | sort) \
        <(ls) -13 \
    | xargs -I{} rm "$(pwd)/{}"\
)'

if uname -a | grep -q WSL; then
    alias clip='clip.exe'
    alias getclip='powershell.exe -command "Get-Clipboard" 2> /dev/null'
fi
