#!/bin/sh
# -*- SH -*-

export LC_ALL=ja_JP.UTF-8

emacs=`which emacs`
emacsclient=`which emacsclient`
socket="${HOME}/.emacs.d/server"

## alias
alias ls='ls -h --color=always'
alias la='ls -a --color=always'
#alias rm='trash-put'
alias e="$emacsclient --socket-name=$socket -a $emacs"
alias isomount='fuseiso'
alias umount='fusermount -u'

alias cpuinfo='watch cat /proc/cpuinfo'
alias iostat='watch "/usr/bin/iostat | cat - /proc/mdstat"'
alias hddtemp='watch sudo hddtemp /dev/sd[a-e]'
alias rtcwake='rtcwake -l'

alias diced='/usr/local/bin/DiCE/diced |nkf -uw'

# Git
alias 'git-log'='git log --graph --all'
alias 'git-add'='git add'
alias 'git-commit'='git commit -m'
alias 'git-merge'='git merge --squash'
alias 'git-checkout'='git checkout'
alias 'git-push'='git push'
alias 'git-branch'='git branch'
alias 'git-status'='git status'

# MATLAB R2010b
alias matlab='/usr/local/MATLAB/R2010b/bin/matlab -nodisplay'
alias gmatlab='/usr/local/MATLAB/R2010b/bin/matlab'
alias lmstart='/usr/local/MATLAB/R2010b/etc/lmstart'

export EDITOR="$emacsclient --socket-name=$socket -a $emacs"
