#!/bin/sh
# -*- SH -*-

## alias
alias ls='ls -h --color=auto'
alias l='ls'
alias la='ls -a'
alias isomount='fuseiso'
alias umount='fusermount -u'

alias cpuinfo='watch cat /proc/cpuinfo'
alias iostat='watch "/usr/bin/iostat | cat - /proc/mdstat"'
alias hddtemp='watch sudo hddtemp /dev/sd[a-e]'
alias rtcwake='rtcwake -l'

# Git
alias 'git-log'='git log --graph --all'
alias 'git-add'='git add'
alias 'git-commit'='git commit -m'
alias 'git-merge'='git merge --squash'
alias 'git-checkout'='git checkout'
alias 'git-push'='git push'
alias 'git-branch'='git branch'
alias 'git-status'='git status'
