[core]
	autocrlf = false
	filemode = true
	quotepath = false
	pager = delta
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true  # use n and N to move between diff sections
	light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	side-by-side = true
	line-numbers = false
[diff]
	algorithm = histogram
[merge]
	ff = false
[branch]
	autosetuprebase = always
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	la = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ad = add
	ci = commit
	cm = commit -m
	st = status
	br = branch
	co = checkout
	d1 = diff HEAD~
	d2 = diff HEAD~~
	d3 = diff HEAD~~~
	d4 = diff HEAD~~~~
	d5 = diff HEAD~~~~~
	dc = diff --cached
	df = diff
	ds = diff --staged
	dw = diff -w
	fe = fetch
	pl = pull
	st = status

# Machine specified configuration
[includeIf "gitdir:"]
	path = ~/.gitconfig_local

# Global scope configuration for Windows
[includeIf "gitdir/i:C:/"]
	path = ~/.gitconfig_windows
[includeIf "gitdir/i:D:/"]
	path = ~/.gitconfig_windows

# Repository scope configuration
[includeIf "gitdir:~/repos/"]
	path = ~/repos/.gitconfig
[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig
[includeIf "gitdir/i:C:/**/repos/"]
	path = ~/repos/.gitconfig
[includeIf "gitdir/i:D:/**/repos/"]
	path = ~/repos/.gitconfig
[includeIf "gitdir/i:C:/**/work/"]
	path = ~/work/.gitconfig
[includeIf "gitdir/i:D:/**/work/"]
	path = ~/work/.gitconfig
