[core]
	attributesfile = ~/.gitattributes_global
	autocrlf = true
	editor = /app/cygwin/emacs/bin/emacs -q -nw -l ${HOME}/.emacs.d/init-mini.el
	pager = nkf -w | LESSCHARSET=utf-8 less -x4
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8
[diff]
	algorithm = histogram
	renames = copies
[diff "wordx"]
	textconv = ~/bin/docx2txt/docx2txt
[merge]
	ff = false
[branch]
	autosetuprebase = always
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	la = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ci = commit
	cm = commit -m
	st = status
	br = branch
	co = checkout
	df = diff -w
	wd = diff -w --color-words
	update = add --update
	delete-merged-branch = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"
[include]
	path = .gitconfig.local
